@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Nutritionable is a web company that has recently been developed to help assist its clients with information, consultation and services to help with vegetable and fruit nutrition</p>
