
@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Email</h2>

@*Using form to send data to controller*@ 
@using (Html.BeginForm("form1", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    //Email Details Required To Be Filled Up-+
    <p> Bulk Email (If Yes, Click On Checkbox)</p>
    @Html.CheckBox("bulkEmail", false)
    @*<input type="checkbox" name="bulkEmail">*@
    <p>To: </p>
    <input type="text" name="txtTo" />
    <p>SubjectTitle: </p>
    <input type="text" name="txtSubjectTitle" />
    <p>Contents: </p>
    <input type="text" name="txtContents" />
    <p>Attachment: </p>
    <input type="file" name="fileAttachment" />
    <input type="submit" />
}