@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nutrionables</h1>
    <p class="lead">A Consulting Service Dedicated To Helping You Handle Your Nutrionational Diet Through Vegetables & Fruits.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            By registering an account with us you can access all our basic features.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more out of data</h2>
        <p>By visiting our graph section you can discover more.</p>
    </div>
    <div class="col-md-4">
        <h2>Booking</h2>
        <p>Book a consultation with us today to get more information about whats best for your needs.</p>
    </div>

</div>


