
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*Reference: https://www.youtube.com/watch?v=LYmoTclITAM*@
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);
        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.

        //Creating function to draw data
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            //Setting (datatype, column)
            data.addColumn("string", "Food")
            data.addColumn("number", "calories")
            // Graph options
            var options = {
                'title': 'Top 10 Food With The Heighest Calories',
                'width': 1000,
                'height': 500
            };
            // Creating a Ajx call to recieve the data of from the database by calling the GetData function from graph controller
            $.ajax({
                url: '@Url.Action("GetData", "Graph")',
                dataType: "json",
                type: "GET",
                async: false,
                data: {},
                success: function (d) {
                    $.each(d, function (index, graphData) {
                        data.addRow([graphData.Food, graphData.Calories]);
                    });
                },
                   error: function (xhr) {
                        alert("Error" + xhr)
                    }
                });

             // Instantiate and draw our chart, passing in some options.
             var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
             chart.draw(data, options);

            }


    </script>
</head>

<body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
</body>